[submodule "ompl"]
	path = ompl
	url = https://github.com/h2r/ompl.git
[submodule "moveit"]
	path = moveit
	url = https://github.com/h2r/moveit.git
[submodule "geometric_shapes"]
	path = geometric_shapes
	url = https://github.com/ros-planning/geometric_shapes.git
[submodule "moveit_msgs"]
	path = moveit_msgs
	url = https://github.com/ros-planning/moveit_msgs.git
[submodule "moveit_resources"]
	path = moveit_resources
	url = https://github.com/ros-planning/moveit_resources.git
