[submodule "ompl"]
	path = ompl
	url = https://github.com/h2r/ompl.git
[submodule "moveit"]
	path = moveit
	url = https://github.com/h2r/moveit.git
[submodule "geometric_shapes"]
	path = geometric_shapes
	url = https://github.com/ros-planning/geometric_shapes.git
